# project specific
.links
_*/

# JAVA stuff
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Object files
*.o
*.ko
*.obj
*.elf
*.pyc
*.pyo

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# backups & temp/log files:
*.swp
/bin
*/tmp
tmp/
log/

# Other dev-related files
*.git.properties
*.espressostorage
*.bak
*.orig
*.sass-cache
.directory
*~
.svn/*
*.swp
svn-commit.*
tags
TAGS

# IDE specific
target
.classpath
.project
.idea
.settings
.settings/*
*.iml
dwsync.xml
*.tmp
*.wpr
*.project
*.cproject
*.tmproj
*.tmproject
*.vi
*.komodoproject
.komodotools
nbproject

# OSX files
._*
.cache
.Spotlight-V100
.Trashes
.DS_Store
desktop.ini
ehthumbs.db
Thumbs.db

# Sublime Editor
*.sublime-project
*.sublime-workspace
